@model courseWorkDataBases.Models.Security.ApplicationUser

<!DOCTYPE html>
<html>
<head>
    <title>Розклад - Логін</title>

    <!-- Bootstrap -->

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <fieldset>
                    <legend>Авторизація</legend>
                    @using(Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                            </div>
                        </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Увійти" class="btn btn-default" />
                                </div>
                            </div>
                    }
                </fieldset>
            </div>
        </div>

    </div>
</body>
</html>